<div class="page">
    <mat-card>
        <mat-card-content>
            <h2>{{pharmacy.name}}</h2>
            <p>Address: {{pharmacy.address}}</p>
            <p>City: {{pharmacy.city}}</p>
            <p>Country: {{pharmacy.country}}</p>
            <p>Rate: 4.7</p>
            <agm-map [latitude]="45" [longitude]="19">
                <agm-marker [latitude]="45" [longitude]="19"></agm-marker>
            </agm-map>
            <h2>Admins</h2>
            <mat-form-field appearance="fill" *ngIf="admins">
                <mat-select [(value)]="selectedAdmin">
                    <mat-option *ngFor="let item of admins" value="{{ item.id }}">{{ item.firstName }} {{ item.lastName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addAdmin()">Add</button>
            <table mat-table [dataSource]="pharmacyAdmins" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.admin.firstName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.admin.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.admin.email}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmins"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmins;"></tr>
            </table>

            <h2>Pharmacists</h2>
            <mat-form-field appearance="fill" *ngIf="pharmacists">
                <mat-select [(value)]="selectedPharmacists">
                    <mat-option *ngFor="let item of pharmacists" value="{{ item.id }}">{{ item.firstName }} {{ item.lastName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addPharmacists()">Add</button>
            <table mat-table [dataSource]="pharmacyPharmacists" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.pharmacists.firstName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.pharmacists.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.pharmacists.email}} </td>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef> Rate </th>
                    <td mat-cell *matCellDef="let element"> 5 </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacists"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacists;"></tr>
            </table>

            <h2>Doctors</h2>
            <mat-form-field appearance="fill" *ngIf="doctors">
                <mat-select [(value)]="selectedDoctor">
                    <mat-option *ngFor="let item of doctors" value="{{ item.id }}">{{ item.firstName }} {{ item.lastName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addDoctor()">Add</button>
            <table mat-table [dataSource]="pharmacyDoctors" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor.firstName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor.email}} </td>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef> Rate </th>
                    <td mat-cell *matCellDef="let element"> 4.6 </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDoctors"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDoctors;"></tr>
            </table>

            <h2>Medicines</h2>
            <mat-form-field appearance="fill" *ngIf="medicines">
                <mat-select [(value)]="selectedMedicine">
                    <mat-option *ngFor="let item of medicines" value="{{ item.id }}">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Price" [(ngModel)]="selectedPrice">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Quantity" [(ngModel)]="selectedQuantity">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addMedicine()">Add</button>
            <table mat-table [dataSource]="pharmacyMedicines" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.medicine.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.medicine.code}} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsMedicines"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMedicines;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
