<div class="page">
    <mat-card>
        <mat-card-content>
            <h2>Users</h2>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Name" [(ngModel)]="term">
                <button mat-raised-button (click)="search()" color="primary">Search</button>
            </mat-form-field>
            <table mat-table [dataSource]="dataUsers" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
            </table>
            <h2>Pharmacies</h2>
            <table mat-table [dataSource]="data" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/view-pharmacy', element.id]" >View</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
