<div class="page">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Update your center account</h2>
  
          <mat-form-field class="full-width-input">
            <input  class="form-control"   matInput [value]="centeraccount.name"  placeholder="Name" formControlName="name" >
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input  class="form-control"   matInput [value]="centeraccount.address" placeholder="Address" formControlName="address">
            <mat-error>
              Please provide a valid username 
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input  class="form-control"   matInput [value]="centeraccount.description" placeholder="Description" formControlName="description" >
            <mat-error>
              First name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input class="form-control" matInput [value]="centeraccount.averageRating" placeholder="Average rating"
              disabled>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-label>Start time</mat-label>
            <input type="time" class="form-control "  matInput [value]="centeraccount.startTime" formControlName="startTime">
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-label>End time</mat-label>
            <input type="time" class="form-control "  matInput [value]="centeraccount.endTime" formControlName="endTime">
          </mat-form-field>
          <br>
          <br>
          <button mat-raised-button color="primary">Update</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  