<mat-toolbar>

  <div *ngIf="!user">
    <a [routerLink]="['/login']">Login</a>
    <a [routerLink]="['/register']">Register</a>
    <a [routerLink]="['/search']">Search</a>
  </div>

  <div *ngIf="user">

    <a [routerLink]="['/center']">Update center</a>
    <a [routerLink]="['/appointments']">Appointments</a>

    <a [routerLink]="['/add-appointment']">Add appointment</a>

    <a [routerLink]="['/add-user']">Add user</a>
    <a [routerLink]="['/edit-profile']">Edit profile</a>

    <a [routerLink]="['/change-password']">Changed password</a>
    <a (click)="logout()">Logout</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
