<mat-toolbar>
  <a [routerLink]="['/']"><span>Center</span></a>

  <div *ngIf="!user">
    <a [routerLink]="['/login']">Login</a>
    <a [routerLink]="['/register']">Register</a>
    <a [routerLink]="['/']">Home</a>
  </div>
  <div *ngIf="user">


    <a [routerLink]="['/consultations']">Consultations</a>
    <a [routerLink]="['/appointments']">Appointments</a>

    <a [routerLink]="['/add-appointment']">Add appointment</a>
    <a [routerLink]="['/add-consultation']">Add consultation</a>

    <a [routerLink]="['/add-user']">Add user</a>
    <a [routerLink]="['/add-pharmacy']">Add pharmacy</a>
    <a [routerLink]="['/add-medicine']">Add medicine</a>
    <a [routerLink]="['/edit-profile']">Edit profile</a>

    <a [routerLink]="['/change-password']">Changed password</a>
    <a (click)="logout()">Logout</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
